# Neon Database
NEON_DATABASE_URL=postgresql:xxxxx

# Payment Configuration (虎皮椒支付)
PAYMENT_APPID=your_appid_here
PAYMENT_SECRET=your_secret_key_here
PAYMENT_API_URL=https://api.xunhupay.com/payment/do.html

# Application
NEXT_PUBLIC_APP_URL=https://shouban.itusheng.xyz

# AI Image Generation API (API_YI/api易)
API_YI_KEY=sk-xxxxx
API_YI_URL=https://api.apiyi.com/v1beta/models/gemini-3-pro-image-preview:generateContent

# AI Image Generation API (API_TANGGUO/糖果姐姐)
API_TANGGUO_KEY=xxxxx
API_TANGGUO_BASE_URL=xxxxx
MODEL_NAME=gemini-3-pro-image-preview

# 当前的系统是什么系统，default（nano-banana-pro），shouban(手办)
# 详见 /utils/texts.js
APP_TYPE=default

# api厂商， API_YI（api易），API_TANGGUO（糖果姐姐）
API_SOURCE=API_YI
