# Neon Database
NEON_DATABASE_URL=postgresql:xxxxx

# Payment Configuration (虎皮椒支付)
PAYMENT_APPID=your_appid_here
PAYMENT_SECRET=your_secret_key_here
PAYMENT_API_URL=https://api.xunhupay.com/payment/do.html

# Application
NEXT_PUBLIC_APP_URL=https://shouban.itusheng.xyz

# AI Image Generation API
NANO_BANANA_API_KEY=xxxxx
NANO_BANANA_BASE_URL=xxxxx
MODEL_NAME=gemini-3-pro-image-preview
# 当前的系统是什么系统，default（手办），3d，ink（水墨画）
# 详见 /utils/texts.js和/pages/api/ai-generate.js
APP_TYPE=default

